<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meibo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>
    <body>
        <div id = "Header">
            <h1 id = "MainTitle">名簿管理システム</h1>
            <h2>実行環境</h2>
            <ul>
                <li>本システムは，HTML5,およびvue.js (CDN,ver2) を利用しています．</li>
                <li>インターネット接続可能な環境で使用してください．</li>
                <li>動作確認はGoogle Chromeでしか行っていません．他のブラウザでの動作は保証しかねます．</li>
                <li>名簿のラベル (第1列) の名称を変更した場合，一部動作しない可能性があります．main.jsを修正してください．
                    "期", "E-Mail 1"など，ダブルクォーテーションで囲まれた部分を探してください．</li>
            </ul>

            <h2>使用方法</h2>
            <ol>
                <li>連絡用名簿のcsvデータ (もしくは読み込みたいcsvデータ) をアップしてください</li>
                <li>ラジオボタンから行う作業を選び，その後の画面の指示に従ってください</li>
            </ol>

            <input type = "file" @change = "csv_load" accept=".csv">
            </p>
        </div>

        <div id = "Tab">
            <div class = "TabList">
                <input type="radio" value="1" id="Tab1" class="TabRadio" v-model="isActive">
                <label for="Tab1" class="TabLabel">名簿の表示</label>
                <br>
                <input type="radio" value="2" id="Tab2" class="TabRadio" v-model="isActive">
                <label for="Tab2" class="TabLabel">分割名簿の作成</label>
                <br>
                <input type="radio" value="3" id="Tab3" class="TabRadio" v-model="isActive">
                <label for="Tab3" class="TabLabel">メーリングリストとの照合</label>
            </div>
            <br>

            <div v-if="isActive ==='1'">
                <h2 class = "subTitle">名簿の表示</h2>
                <ol>
                    <li>画面に表示する範囲を半角数字で入力してください</li>
                    <li>displayボタンを押してください</li>
                </ol>
                <input type="text" v-model="startAge" class ="meiboDispInput" size=3> 期から
                <input type="text" v-model="endAge" class ="meiboDispInput" size=3>期まで<br>
                <br>
                <button @click="dispMeibo" class ="meiboDispInput"> display </button>
                <br><br>             
                <h2 class = "subTitle"> 出力欄 </h2>
                <table>
                    <tr v-for=" row in meibo_data">
                      <td v-for=" column in row">{{ column }}</td>
                    </tr>
                </table>                
            </div>

            <div v-else-if="isActive ==='2'">
                <h2 class = "subTitle">分割名簿の作成</h2>
                <ol>
                    <li>名簿の出力方法をラジオボタンから選択してください</li>
                    <li>(b),(c)を選ぶ場合は，数字を半角で入力してください</li>
                    <li>1箇所のみの記入で，その代のみを選択したことになります</li>
                    <li>exportボタンを押すと，csv形式で出力されます</li>
                </ol>
                <input type="radio" v-model="divSelect" value ="10">(a) 全範囲を10期ごとに出力<br>
                <input type="radio" v-model="divSelect" value ="custom">(b) 特定の範囲を纏めて出力<br>
                <input type="radio" v-model="divSelect" value ="custom_each">(c) 特定の範囲を1期ごとに出力<br>
                <input type="text" v-model = "startAge" size = 3> 期から
                <input type="text" v-model = "endAge"  size = 3>期まで<br>
                <br><br>
                <button @click="divideMeibo" class = "meiboDivSubmit"> export </button>
                <br><br>
                <h2 class = "subTitle"> ログ </h2>
                <p style="white-space:pre-wrap; word-wrap:break-word;">{{ logOutput }}</p>
            </div>

            <div v-else-if="isActive ==='3'">
                <h2 class = "subTitle">メーリングリストとの照合</h2>
                <ul>
                    <li>メーリングリストのフラグを変更した場合は，main.jsの変数 "ml_flag_num "を書き換えてください．
                        2021.3現在，フラグは2となっています．</li>
                    <li>メールアドレスの大文字小文字は区別していません (Google Groupがそのような仕様だと思われます)． </li>
                    <li>Google Gorupのバグなのか，メールアカウント中のドット"."が消えた形で登録されていることがあります．</li>    
                    <li>「メーリスにはあるが名簿ではカウントされていないアドレス一覧」とは，「アドレスが名簿にない」場合と，
                        「メーリングリストのフラグが2ではない」場合があります．</li>                
                </ul>
                <ol>
                    <li>Google Group > メンバー追加 のページより，csvファイルをダウンロードしてください</li>
                    <li>ダウンロードしたファイルを下記ボタンからアップしてください</li>
                    <li>displayボタンを押してください</li>
                </ol>
                <input type = "file" @change = "mlCsvLoad" accept=".csv"><br>
                <button @click="mlCsvDisp" class = "mlCsvDisp"> Display </button>

                <h2 class = "subTitle">出力欄</h2>
                <h3> 名簿上は登録されているが，メーリスにはないアドレス一覧 </h3>
                <table>
                    <tr v-for=" row in ml_meibo_dif1">
                        <td> {{ row }} </td>
                    </tr>
                </table>    
                <h3> メーリスにはあるが名簿ではカウントされていないアドレス一覧 </h3>
                <table>
                    <tr v-for=" row in ml_meibo_dif2">
                        <td> {{ row }} </td>
                    </tr>
                </table>    
            </div>
        </div>
    </body>
</html>

<script type="text/javascript" src="main.js"></script>        

