@charset "utf-8";

/* CSS Document */
#MainTitle{color:whitesmoke; background-color:black;}
.subTitle{color:whitesmoke; background-color:gray;}

#contentbox{
    box-sizing: boarder-box;
    width: 90%;
    margin: 5%;
    padding: 10px;
}

/*Tab Setting*/
.TabList{background-color: lightgray;}

/*table Setting*/
/*
table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0;   
}
table th, table td{
    padding: 15px 30px;
    text-align: left;
}
table tr:first-child{
    background-color: lightgray;
    color: black;    
}
table tr:nth-child(even){
    background-color: #eee
}
*/
